
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
  background: linear-gradient(180deg, #0a0a0a, #0f172a 40%, #0a0a0a);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}
* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}